.cart{
    width: 1440px;
    min-height: 1100px;
    border-top: 2px solid transparent;
    position: relative;
}
.cartTitle{
    position: absolute;
    top: 50px;
    left: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 42px;

}
.cartContainer{
    margin-top: 172px;
    margin-left: 20px;
    padding-bottom: 150px;
    width: 840px;
    min-height: 924px;
    top: 172px;
    border-top: 2px solid grey;
   
}
.backToStore{
    position: absolute;
    left: 647px;
    top: 117px;
    font-size: 20px;
    font-weight: 800;

}
.letAngle{
    position: absolute;
    right: 586px;
    top: 118px;
    cursor: pointer;
    color: grey;
}
.orderDetails{
    position: absolute;
    width: 500px;
    height: 390px;
    border-radius: 20px;
    right: 28px;
    top: 180px;
    border: 2px solid black;
    padding: 20px;

}
.orerFormTitle{
    font-weight: 900;
    font-size: 31px;
}
.total{
    width: 432px;
    height: 40px;
    margin-top: 40px;
    display:  flex;
    justify-content: space-between;
    align-items: center;

        
}
.total2{
    font-size: 27px;
    font-weight: 900;
}
.totalPriceNumber{
    font-size: 35px;
    font-weight: 900;
}
.dolar22{
    font-size: 10px;

}
.orderDetails input{
    width: 450px;
    height: 75px;
    background-color: transparent;
    margin-top: 50px;
    border-radius: 20px;
    padding-left: 30px;
    color: grey;
    border: 1px solid grey;

}
.orderDetails button{
    margin-top: 22px;
    width: 450px;
    height: 75px;
    background-color: #393;
    border-radius: 20px;
    color:#FFF;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    
}
.something{
    width: 100%;
    height: 256px;
    border: 3px solid red;
}