.cartProduct{
    width: 840px;
    height: 250px;
    border-bottom: 2px solid grey;
    margin-top: 4px;
    position: relative;
}
.cartImageProduct{
position: absolute;
top: 34px;
left: 3px;
width: 200px;
height: 180px;
border: 1px solid red;
background-color: rgb(100, 100, 172);
}
.desProCart{
    position: absolute;
    width: 320px;
    height: 110px;
    left: 226px;
    top: 48px;
    font-size: 19px;
    font-weight: 900;
}
.amount{
    position: absolute;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid grey;
    left: 228px;
    top: 162px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.decrees{
font-size: 60px;
margin-bottom: 10px;
cursor: pointer;
}
.amountNumber{
    font-size: 18px;
    font-weight: 800;
}
.increase{
    font-size: 40px;
    cursor: pointer;
}
.cartProdPrice{
position: absolute;
left: 570px;
top: 100px;
color: red;
font-size: 40px;
font-weight: 900;
}
.dollar33{
font-size: 20px;
margin-left: 5px;
}
.oldPriceCart{
    position: absolute;
    left: 720px;
    top: 110px;
    font-size: 20px;
    font-weight: 900;
    color: grey;
    text-decoration: line-through;
}
.deleteProdCart{
    position: absolute;
    top: 30px;
    right: 7px;
    cursor: pointer;
    color: grey;
}