.header{
    width: 1384px;
    height: 72px;
    margin: 19px 26px 30px 26px;
    display: flex;
    align-items: center;
    position: relative;
}
.logo{
    height: 100%;
    width: 71px;
    background-image: url(../../../public/images/Logo.png);
    cursor: pointer;

}
.header button{
color: #FFF;
font-size: 18px;
font-weight: 700;
width: 127px;
height: 50px;
border-radius: 5px;
margin-left: 57px;
background-color: #339933;
border: none;
cursor: pointer;
}
.links{
    width: 330px;
    height: 20px;
    margin-left: 592px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 130%;
    font-weight: 800;
    justify-content: space-between;
    cursor: pointer;
}
.products{
    margin-left: 20px;
    
}
.bag{
    position: absolute;
    right: 0;
    cursor: pointer;
}
